@inherits LayoutComponentBase

<PageTitle>PromFuture.TestTask</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a style="color: white"><span class="oi oi-person" aria-hidden="true" style="color: #1db394"></span>Партнер</a>
            <br/>
            <span class="oi oi-account-logout" style="color: #1db394" aria-hidden="true"></span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
