<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="images\\Pasted-20230904-122854.svg" width="50%" height="5%" alt="" />
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-person" aria-hidden="true"></span> Клиенты
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class="oi oi-people" aria-hidden="true"></span> Пользователи
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-terminal" aria-hidden="true"></span> Терминалы
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class="oi oi-credit-card" aria-hidden="true"></span> TID Банка
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class="oi oi-aperture" aria-hidden="true"></span> Транзакции
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class="oi oi-file" aria-hidden="true"></span> Логи терминалов
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class="oi oi-grid-two-up" aria-hidden="true"></span> Классы
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class="oi oi-transfer" aria-hidden="true"></span> Привязать терминалы
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
